
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link href="estilo.css" rel="stylesheet" type="text/css">
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>Ret-Car - Locação de veículos</title>
</meta></head>
<body>

<div id="GERAL">

   <div id="TOPO"> 
        <img src="/images/logo_01.gif"> </img> 
   </div>
      <div id="MENU"> 
		    <a href="/carros"> Carros</a> 
			<a href="/clientes"> Clientes</a> 
			<a href="/locacoes"> Locações</a>
		</div>
   <div id="CONTEUDO">
   	<%= form_for(@cliente) do |f| %>
          <b> Cadastro de Clientes</b>
		   
		  <hr> 
		 
		 <table>
		 <tr> <td> <h3> Dados Pessoais: </h3> </td></tr>
		 <tr> 
		   <td> <%= f.label :nome %> </td> <td> <%= f.text_field :nome, :size=>50%> </td> 
    		
		 </tr>
		<tr> 
		  <td> <%= f.label :nome_pai, 'Nome do Pai'%> </td> <td> <%= f.text_field :nome_pai, :size=>50%> </td> 
		   
		 </tr>
		 <tr>
			<td> <%= f.label :nome_mae,'Nome da Mãe'%> </td> <td> <%= f.text_field :nome_mae, :size=>50%> </td> 
		 </tr>
		 <tr>
		 <td> <%= f.label :data_nascimento, 'Data de Nascimento '%> </td> <td> <%= f.text_field :data_nascimento, :size=>12%> <%= f.label :telefone%> <%= f.text_field :telefone, :size=>12%></td>
		 </tr>
		 <tr>
		    <td>  <%= f.label :cpf, 'CPF'%> </td> <td>  <%= f.text_field :cpf, :size=>12%>  <%= f.label :habilitacao, 'Habilitação'%>  <%= f.text_field :habilitacao, :size=>12%></td>
			
		 </tr>
		 
		 <tr>
		    <td>  <%= f.label :naturalidade%> </td> <td>  <%= f.text_field :naturalidade, :size=>12%> </td>
		 </tr>
		 
		<tr> <td> <h3> Endereço: </h3> </td></tr>
		<tr> 
		   <td>  <%= f.label :logradouro%> </td> <td>  <%= f.text_field :logradouro, :size=>50%> </td> 
		   
		 </tr>
		<tr> 
		   <td> <%= f.label :numero, 'Número'%> </td> <td>  <%= f.text_field:numero, :size=>4%>   <%= f.label :cep, 'CEP'%> <%= f.text_field :cep,  :size=>10%> </td> 
		 <tr>
		    <td> <%= f.label :bairro%> </td> <td> <%= f.text_field :bairro, :size=>20%> </td>
		 </tr>
		 <tr>
		 <td> <%= f.label :municipio, 'Município'%></td> <td> <%= f.text_field :municipio, :size=>20%></td>
		 </tr>
		 <tr>
		   <td> <%= f.label :estado%> </td> <td> <%= f.text_field :estado, :size=>12%> </td>
		 </tr>
		 <tr>
		    <td> <%= f.label :naturalidade%> </td> <td> <%= f.text_field:naturalidade, :size=>12%> </td>
		 </tr>
		 
		 <tr> <td id='novo'> <%= f.submit %> </td> <td><%= link_to 'Voltar para listagem', clientes_path %></td> </tr>
		 </table>
	<% end %>
    </div>
 
   
  
 </div>

</body>
</html>
