<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link href="estilo.css" rel="stylesheet" type="text/css">
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>Ret-Car - Locação de veículos</title>
</meta></head>
<body>

<div id="GERAL">

   <div id="TOPO" style="text-align:center;"> 
        <img src="/images/logo_01.gif"> </img> 
   </div>
      <div id="MENU"> 
		    <a href="/carros"> Carros</a> 
			<a href="/clientes"> Clientes</a> 
			<a href="/locacoes"> Locações</a>
		</div>
	<div id="CONTEUDO">
	<%= form_for(@locacao) do |f| %>

	 <table>
		<p id="notice"><%= notice %></p>
			<hr>
		<p>
		 <b>Nome do Cliente:</b>
			  <%= @locacao.cliente.try(:nome) %>
   		 </p>

		<p>
  		<b>Marca do Carro:</b>
	  		 <%= @locacao.carro.try(:marca) %>
		</p>

		<p>
	   	<b>Data de Locação:</b>
  			<%= @locacao.data_locacao %>
		</p>

		<p>
  		<b>Data de Entrega:</b>
  			<%= @locacao.data_entrega %>
		</p>

		<p>
  		<b>Valor:</b>
  			<%= @locacao.valor %>
		</p>
		
		<div id="links">
			<%= link_to 'Edit', edit_locacao_path(@locacao) %> |
			<%= link_to 'OK', locacoes_path %>
		</div>
	</table>
  </div>
  
<% end %>

 </div>

</body>
</html>
