!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link href="estilo.css" rel="stylesheet" type="text/css">
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>Ret-Car - Locação de veículos</title>
</meta></head>
<body>

<div id="GERAL">

   <div id="TOPO"> 
        <img src="/images/logo_01.gif"> </img> 
   </div>
      <div id="MENU"> 
		    <a href="/carros"> Carros</a> 
			<a href="/clientes"> Clientes</a> 
			<a href="#"> Locações</a>
		</div>
   <div id="CONTEUDO">
          <b> Listagem de Carros</b>
          <span id=linknew> <%= link_to 'Novo Carro', new_carro_path%> </span>
		   <hr>
		   <table width="300" class="mytable">
		   <tr>
    <th width=20%>Marca</th>
    <th>Modelo</th>
    <th>Ano</th>
    <th>Placa</th>
    <th>Ano aquisicao</th>
    <th>Cor</th>
    <th colspan=2> Ações </th>
  </tr>
  <% @carros.each do |carro| %>
  <tr>
    <td><%= carro.marca %></td>
    <td><%= carro.modelo %></td>
    <td><%= carro.ano %></td>
    <td><%= carro.placa %></td>
    <td><%= carro.ano_aquisicao %></td>
    <td><%= carro.cor %></td>
    <td><%= link_to 'E', edit_carro_path(carro), :title => 'Editar' %></td>
    <td><%= link_to 'R', carro, :confirm => 'Tem certeza que deseja remover?', :method => :delete, :title => 'Remover' %></td>
  </tr>
  <% end %>
        </table>
		 
		
    </div>
 
   
  
 </div>

</body>
</html>